<h2>Welcome {{ user?.userId }} ({{ user?.role }})</h2>

<button (click)="logout()">Logout</button>

<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!loading">

  <h3>Your Records</h3>

  <table border="1" cellpadding="10" *ngIf="(records$ | async) as records">

    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Access</th>
    </tr>

    <tr *ngFor="let record of records">
      <td>{{ record.id }}</td>
      <td>{{ record.name }}</td>
      <td>{{ record.access }}</td>
    </tr>

  </table>

</div>